@{
    ViewData["Title"] = "Início";
}

<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-1"></div>
        <div class="col col-12 col-lg-10 col-sm-12 col-xxl-12">
            <div id="main">
                <div>
                    <img src="~/src/AquiOuAcola.png" style="max-width: 100%" />
                </div>

                <div id="buscador">
                    <form>
                        <div class="form-group" id="buscar">
                            <i class="bi bi-search"></i>
                            <input type="search" placeholder="Buscar um curso..." size="100" maxlength="100">
                        </div>
                    </form>
                </div>

                <div id="span">
                    <a href="#">EU PRECISO DE AJUDA</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-1"></div>
    </div>
</div>
