#main {
    margin: 50px;
    display: block;
    text-align: center;
}

#buscador{
    margin-top: 50px;
}

#buscar {
    height: 50px;
    background-color: #C4C4C4;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 25px;
}

#buscar input{
    flex: 1;
    height: 40px;
    width: 500px;
    max-width: 100%;
    border-radius: 100px;
    border: none;
    outline: none;
    background-color: #C4C4C4;
    padding-left: 15px;
}

#span{
    margin-top: 25px;
}

#span a{
    text-decoration: none;
    color: #00345C;
}

#span a:hover{
    color: #6F8197;
}

.input {
    height: 40px;
    border-radius: 100px;
    border: none;
    outline: none;
    background-color: #C4C4C4;
}

#formdisplay {
    display: flex;
    justify-content: center;
}